<div class="container">
    <form>
        <h1 id="TituloLogin">Datos del empleado</h1>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input class="form-control" value="@ViewBag.perfil.Nombre @ViewBag.perfil.Apellido" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tipo Usuario:</label>
            <div class="col-sm-10">
                <input class="form-control" value="@ViewBag.perfil.tipoUsuario" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Direccion:</label>
            <div class="col-sm-10">
                <input class="form-control" value="@ViewBag.perfil.Email" disabled>
            </div>
        </div>
    </form>
    <br />
    @*<a href="/tracking/CreatePackage" class="btn btn-success">
        Ingresar nuevo paquete
    </a>
    <a href="/tracking/ViewPackages/?IdPaquete=0" class="btn btn-info">
        Actualizar paquete
    </a>
    <a href="Logout" class="btn btn-danger">
        Cerrar secion
    </a>*@
</div>