<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mi Perfil</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <!--<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet"
          type="text/css"
          href="~/css/dist/css/bootstrap.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet"
          type="text/css"
          href="~/fonts/font-awesome-4.7.0/css/font-awesome.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet"
          type="text/css"
          href="~/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet"
          type="text/css"
          href="~/vendor/css-hamburgers/hamburgers.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet"
          type="text/css"
          href="~/vendor/select2/select2.min.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/cssPerfil/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/cssPerfil/demo.css" />
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="student-profile py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent text-center">
                                        <img class="profile_img"
                                             src="https://source.unsplash.com/600x300/?student"
                                             alt="student dp" />
                                        <h3>@ViewBag.nombre</h3>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-0">
                                            <strong class="pr-1"># de Usuario: </strong>@ViewBag.idUser
                                        </p>
                                        <p class="mb-0">
                                            <strong class="pr-1">Cantidad de Eventos: </strong>@ViewBag.eventos
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0">
                                            <i class="far fa-clone pr-1"></i>General Information
                                        </h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th width="30%">Roll</th>
                                                <td width="2%">:</td>
                                                <td>125</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Academic Year</th>
                                                <td width="2%">:</td>
                                                <td>2020</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Gender</th>
                                                <td width="2%">:</td>
                                                <td>Male</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Religion</th>
                                                <td width="2%">:</td>
                                                <td>Group</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">blood</th>
                                                <td width="2%">:</td>
                                                <td>B+</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div style="height: 26px"></div>
                                <div class="card shadow-sm">
                                    <div class="card-header bg-transparent border-0">
                                        <h3 class="mb-0">
                                            <i class="far fa-clone pr-1"></i>Other Information
                                        </h3>
                                    </div>
                                    <div class="card-body pt-0">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore
                                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Context.User.Identity.IsAuthenticated)
                { @if (ViewBag.tipo ==
                     "ADMIN")
                    {
                        <a asp-controller="Evento"
                   asp-action="ListarEventos"
                   asp-route-id="@ViewBag.idUser">VER MIS EVENTOS</a>
                    } }
            </div>
        </div>
    </div>
</body>
</html>
